<div class="mt-4">
    <h3>EDIT PRODUCT</h3>
        <form method="POST" action="/ad/{{products._id}}?_method=PUT">
            <div class="form-group">
                <label for="name">Product's Name</label>
                <input class="form-control" value="{{products.name}}" id="name" name="name">
            </div>
            
            <div class="form-group">
                <label for="price">Product's Price</label>
                <input class="form-control" value="{{products.price}}" id="price" name="price">
            </div>
            
            <div class="form-group">
                <label for="category">Product's Category</label>
                <input class="form-control" value="{{products.category}}" id="category" name="category">
            </div>
            
            <div class="form-group">
                <label for="quantity">Product's Quantity</label>
                <input class="form-control" value="{{products.quantity}}" id="quantity" name="quantity">
            </div>
            
            <div class="form-group">
                <label for="des">Product's Description</label>
                <textarea class="form-control" id="des" name="des">{{products.des}}</textarea>
            </div>

            <div class="form-group">
                <label for="thumbnail">Product's Thumbnail</label>
                <input class="form-control" value="{{products.thumbnail}}" id="thumbnail" name="thumbnail">
            </div>

            <button type="submit" class="btn btn-primary">SAVE UPDATE</button>
        </form>
</div>

<style>
    .mt-4 {
    padding-bottom: 450px;
}
</style>